*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 1.125rem;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  margin: 0 auto;
  width: 40%;
  min-width: 350px;
  max-width: 1000px;
  
}

.header{
  margin: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.header h1{
  font-size: 3rem;
  color:white;
  letter-spacing: 1rem;
}


.header__image {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 300px;
  width: 100%;
  z-index: -1;
  background-color: var(--background-main);
  background-image: var(--header-image);
  background-repeat: no-repeat;
  background-size: cover;
}