*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 1.125rem;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  margin: 0 auto;
  width: 40%;
  min-width: 350px;
  max-width: 1000px;
}

.header{
  margin: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.header h1{
  font-size: 3rem;
  color:white;
  letter-spacing: 1rem;
}
